h1{
    font-size: 60px;
    font-family:'Scheherazade New', serif;
    margin-bottom: 0px;
    margin-top: 0px;
}
p{
    font-size: 20px;
    margin: 0%;
}

#submit{
    background-color: lightgrey;
}
